#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #f5d7d7aa);
  scale: 1.1;
  transition: 0.3s;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  background-color: #c66969;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  align-items: center;
  max-width: 70%;
  margin: auto;
  margin-top: 50px;
}

.read-the-docs {
  color: #888;
}
