.logo {
    display: flex;
    align-items: center;
    height: fit-content;
}

.logo div {
    margin-left: 5px;
    font-weight: bolder;
    font-size: 24px;
    height: 30px;
}

.logo img {
    display: block;
}