.timer {
    font-size: 100px;
    font-weight: bold;
}

.nav-button button.active {
    font-weight: bolder;
    background-color: #af5353;
}

.nav-button button {
    margin: 10px;
    padding: 10px 10px;
}


.start-button {
    width: 300px;
    height: 80px;
    background-color: #ffffff;
    color: #c66969;
    margin: 10px;
    font-size: 175%;
    border-bottom: 7px solid #a8a6a6;
}

.pause-button {
    width: 300px;
    height: 80px;
    background-color: #ffffff;
    color: #c66969;
    margin: 10px;
    font-size: 175%;
}

@media (max-width: 775px) {
    .nav-button button, .menu-button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    .timer {
        font-size: 5rem;
    }

    .start-button, .pause-button {
        padding: 10px 30px;
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .nav-button button, .menu-button {
      font-size: 0.9rem;
      padding: 8px 15px;
    }
  
    .timer {
        font-size: 4rem;
    }
  
    .start-button, .pause-button {
        padding: 10px 30px;
        font-size: 1rem;
        max-width: fit-content;
        max-height: fit-content;
    }
  
    .menu-button {
      font-size: 0;
    }
}

@media (max-width: 576px) {
    .nav-button button, .menu-button {
      font-size: 0.9rem;
      padding: 8px 15px;
    }
  
    .timer {
        font-size: 3rem;
    }
  
    .start-button, .pause-button {
        padding: 10px 30px;
        font-size: 1rem;
        max-width: fit-content;
        max-height: fit-content;
    }
  
    .menu-button {
      font-size: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .nav-button button.active {
        background-color: #36a552;
    }

    .start-button, .pause-button {
        color: #43bb61;
    }
}